.info-back{
    position: absolute;
    top: 50px;
    right: -120px;
}
.info{
    position: relative;
}
.info p{
    margin-top: 40px;
    max-width: 800px;
    line-height: 140%;
    margin-left: 40px;
    font-size: 26px;
    margin-bottom: 30px;
}
.info h1{
    margin-top: 25px;
}
.info button{
    margin-top: 10px;
    margin-left: 40px;
}